.reset-password {
    /* margin-top: 15em; */
    height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  mat-card {
    max-width: 500px;
    background: #ffffff;
    border: 1px solid rgba(86, 86, 86, 0.5);
    box-sizing: border-box;
    box-shadow: 2px 4px 4px rgba(86, 86, 86, 0.5) !important;
  }
  ::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0.8em;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0 !important;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 0 !important;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-gap {
    border-radius: 0 !important;
  }
  
  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
    border-radius: 0% !important;
  }
  ::ng-deep mat-form-field {
    width: 80%;
  }
  mat-card-content {
    text-align: center;
    margin-bottom: 0;
  }
  mat-card-header {
    display: flex;
    justify-content: center;
  }
  ::ng-deep.wrapper-action {
    display: flex;
    justify-content: center;
  }
  ::ng-deep.wrapper-button {
    justify-content: flex-end;
    width: 80%;
    display: flex;
  }
  ::ng-deep.button-submit {
    background: #1ea0ff;
    border: none !important;
    color: #ffffff;
    padding: 5px 4em;
    outline:none;
    margin: 1.5em 0;
  }
  ::ng-deep.button-submit:hover {
    background: #0095ff;
    cursor: pointer;
  }
  .forgot-password {
    margin-top: 1.5em;
  }
  ::ng-deep .note{
    font-size: 16px;
  }
  